<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pignose css -->
    <link href="/css/pignose.layerslider.css" rel="stylesheet" type="text/css" media="all" />


    <!-- //pignose css -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script src="/js/simpleCart.min.js"></script>
    <!-- cart -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link
        href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
        rel='stylesheet' type='text/css'>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/pignose.layerslider.js"></script>
    <script src="/js/easyResponsiveTabs.js"></script>
    <script src="/js/script.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/libs/css/style.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>Graficos Admin</title>
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="container">
            <ul>
                <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Entrega gratuita y rápida</li>
                <li><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Envío gratis en todos los
                    pedidos</li>
                <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a
                        href="mailto:info@example.com">info@w&t.com</a></li>
            </ul>
        </div>
    </div>
    <!-- //header -->
    <!-- header-bot -->
    <div class="header-bot">
        <div class="container">
            <div class="col-md-3 header-left">
                <h1><a href="/"><img src="/images/logo.jpg"></a></h1>
            </div>


            <nav class="col-md-3 header-right footer-bottom dropdown">
                <div class="dropdown-content">
                    {{#login}}
                    {{#userr}}
                    <li><a href="/users/profile/{{user}}">Ajustes</a></li>
                    <li><a href="/users/orders/{{user}}">Pedidos</a></li>
                    <li><a href="/users/security/{{user}}">Seguridad</a></li>
                    {{#admin}}
                    <li><a href="/admin/newProduct">Crear producto</a></li>
                    <li><a href="/admin/orders">Consultar pedidos</a></li>
                    <li><a href="/admin/users">Consultar usuarios</a></li>
                    <li><a href="/admin/graphics">Consultar gráficas</a></li>
                    {{/admin}}
                    <li>
                        <form action="/logout" method="POST">
                            <input id="logout" type="submit" value="Logout" /><input type="hidden" name="_csrf"
                                value="{{token}}" />
                        </form>
                    </li>
                    {{/userr}}
                    {{/login}}
                </div>
                <ul>

                    {{^login}}
                    <li><a href="/login" class="use1"><span>Login</span></a></li>
                    {{/login}}
                    {{#login}}
                    <li><a class="use1"></a>
                        {{/login}}
                    </li>
                    <li><a class="fb" href="https://www.urjc.es/" target="_blank"></a></li>
                    <li><a class="twi" href="https://www.urjc.es/" target="_blank"></a></li>
                    <li><a class="insta" href="https://www.urjc.es/" target="_blank"></a></li>
                    <li><a class="you" href="https://www.urjc.es/" target="_blank"></a></li>
                </ul>
            </nav>

            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //header-bot -->



    <!-- main wrapper -->
    <div class="dashboard-main-wrapper">
        <!-- wrapper  -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- pageheader  -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Gráficos y ventas</h2>
                                <div class="container-xl px-2 mt-4">
                                    <!-- Account page navigation-->
                                    <nav class="nav nav-borders">
                                        {{#admin}}
                                        <a class="nav-link active ms-0" href="/admin/graphics"
                                            target="__blank">GRÁFICOS</a>
                                        <a class="nav-link" href="/admin/users" target="__blank">LISTA USUARIOS</a>
                                        <a class="nav-link" href="/admin/orders" target="__blank">LISTA PEDIDOS</a>
                                        <a class="nav-link" href="/admin/newProduct" target="__blank">CREAR PRODUCTO</a>
                                        <a class="nav-link" href="/index" target="__blank">SALIR</a>
                                        {{/admin}}
                                    </nav>
                                    <hr class="mt-0 mb-4">
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end pageheader  -->



                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- sales  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="card border-3 border-top border-top-primary">
                                <div class="card-body">
                                    <h5 class="text-muted">Ventas</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1">{{sumstore}}€</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end sales  -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- new customer  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="card border-3 border-top border-top-primary">
                                <div class="card-body">
                                    <h5 class="text-muted">Administradores</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1">{{adminPor}}%</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end new customer  -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- visitor  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="card border-3 border-top border-top-primary">
                                <div class="card-body">
                                    <h5 class="text-muted">Usuarios</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1">{{userPor}}%</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end visitor  -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- total orders  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="card border-3 border-top border-top-primary">
                                <div class="card-body">
                                    <h5 class="text-muted">Usuarios Totales</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1">{{sumuser}}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end total orders  -->
                        <!-- ============================================================== -->
                    </div>
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- total revenue  -->
                        <!-- ============================================================== -->


                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- category revenue  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Productos Categoria</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">Componentes <span
                                            class="float-right">{{components}}%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" role="progressbar"
                                            style="width:{{components}}%" aria-valuenow="{{components}}"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Perifericos <span
                                            class="float-right">{{peripherals}}%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-warning" role="progressbar"
                                            style="width:{{peripherals}}%" aria-valuenow="{{peripherals}}"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Telefonos <span
                                            class="float-right">{{phone}}%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar" role="progressbar" style="width:{{phone}}%"
                                            aria-valuenow="{{phone}}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end category revenue  -->
                        <!-- ============================================================== -->

                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Productos Tipo</h6>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="small font-weight-bold">Auriculares <span
                                                class="float-right">{{headPhones}}%</span></h4>
                                        <div class="progress mb-4">
                                            <div class="progress-bar bg-danger" role="progressbar"
                                                style="width:{{headPhones}}%" aria-valuenow="{{headPhones}}"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <h4 class="small font-weight-bold">Disco duro <span
                                                class="float-right">{{hardDisck}}%</span></h4>
                                        <div class="progress mb-4">
                                            <div class="progress-bar bg-warning" role="progressbar"
                                                style="width:{{hardDisck}}%" aria-valuenow="{{hardDisck}}"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <h4 class="small font-weight-bold">Telefonos <span
                                                class="float-right">{{phone}}%</span></h4>
                                        <div class="progress mb-4">
                                            <div class="progress-bar" role="progressbar" style="width:{{phone}}%"
                                                aria-valuenow="{{phone}}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <h4 class="small font-weight-bold">Monitor <span
                                                class="float-right">{{monitors}}%</span></h4>
                                        <div class="progress mb-4">
                                            <div class="progress-bar" role="progressbar" style="width:{{monitors}}%"
                                                aria-valuenow="{{monitors}}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <h4 class="small font-weight-bold">Placa base <span
                                                class="float-right">{{moderBoard}}%</span></h4>
                                        <div class="progress mb-4">
                                            <div class="progress-bar" role="progressbar" style="width:{{moderBoard}}%"
                                                aria-valuenow="{{moderBoard}}" aria-valuemin="0" aria-valuemax="moderBoard"></div>
                                        </div>
                                        <h4 class="small font-weight-bold">Procesador <span
                                                class="float-right">{{processor}}%</span></h4>
                                        <div class="progress mb-4">
                                            <div class="progress-bar" role="progressbar" style="width:{{processor}}%"
                                                aria-valuenow="{{processor}}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <h4 class="small font-weight-bold">Raton <span
                                                class="float-right">{{mouse}}%</span></h4>
                                        <div class="progress mb-4">
                                            <div class="progress-bar" role="progressbar" style="width:{{mouse}}%"
                                                aria-valuenow="{{mouse}}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <h4 class="small font-weight-bold">Tarjeta grafica <span
                                                class="float-right">{{graphicCard}}%</span></h4>
                                        <div class="progress mb-4">
                                            <div class="progress-bar" role="progressbar" style="width:{{graphicCard}}%"
                                                aria-valuenow="{{graphicCard}}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <h4 class="small font-weight-bold">Teclado <span
                                                class="float-right">{{keyBoard}}%</span></h4>
                                        <div class="progress mb-4">
                                            <div class="progress-bar" role="progressbar" style="width:{{keyBoard}}%"
                                                aria-valuenow="{{keyBoard}}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
                            <!-- ============================================================== -->

                            <!-- ============================================================== -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="/assets/libs/js/dashboard-ecommerce.js"></script>
</body>

</html>