<!DOCTYPE html>
<html>
	<head>
		<title>W&T</title>
		<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smart Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta charset="utf-8">
<!--  All snippets are MIT license http://bootdey.com/license -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- //for-mobile-apps -->
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- single -->
<script src="/js/imagezoom.js"></script>
<script src="/js/jquery.flexslider.js"></script>
<!-- single -->
<!-- cart -->
	<script src="/js/simpleCart.min.js"></script>
<!-- cart -->
<!-- for bootstrap working -->
	<script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/script.js"></script>
</head>
<body>
	<!-- header -->
	<div class="header">
		<div class="container">
			<ul>
				<li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Entrega gratuita y rápida</li>
				<li><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Envío gratis en todos los
					pedidos</li>
				<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a
						href="mailto:info@example.com">info@w&t.com</a></li>
			</ul>
		</div>
	</div>
	<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
	<div class="container">
		<div class="col-md-3 header-left">
			<h1><a href="index.html"><img src="images/logo.jpg"></a></h1>
		</div>
		<div class="col-md-6 header-middle">
			<form>
				<div class="search">
					<input type="search" value="Buscar" onfocus="this.value = '';"
						onblur="if (this.value == '') {this.value = 'Buscar';}" required="">
				</div>
				<div class="section_room">
					<select id="country" onchange="change_country(this.value)" class="frm-field required">
						<option value="null">Todo</option>
						<option value="AX">Componentes</option>
						<option value="AX">Periféricos</option>
						<option value="AX">Teléfonos</option>
					</select>
				</div>
				<div class="sear-sub">
					<input type="submit" value=" ">
				</div>
				<div class="clearfix"></div>
			</form>
		</div>
		<div class="col-md-3 header-right footer-bottom">

			<ul>
				<li><a href="#" class="use1" data-toggle="modal" data-target="#myModal4"><span>Login</span></a>

				</li>
				<li><a class="fb" href="https://www.urjc.es/" target="_blank"></a></li>
				<li><a class="twi" href="https://www.urjc.es/" target="_blank"></a></li>
				<li><a class="insta" href="https://www.urjc.es/" target="_blank"></a></li>
				<li><a class="you" href="https://www.urjc.es/" target="_blank"></a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
				</div>
			</nav>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //banner-top -->
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="perfil.html" target="__blank">Perfil</a>
        <a class="nav-link" href="transacciones.html" target="__blank">Transacciones</a>
        <a class="nav-link" href="seguridad.html" target="__blank">Seguridad</a>
        <a class="nav-link" href="notificaciones.html"  target="__blank">Notificaciones</a>
		<a class="nav-link" href="index.html"  target="__blank">Tienda</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
			<form action="/modifyUser" method="POST" enctype="multipart/form-data">
            <!-- Perfil picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Foto del Perfil</div>
                <div class="card-body text-center">
                    <!-- Perfil picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="https://localhost:8443/imageprofile{{user}};" alt="">
                    <!-- Perfil picture help block-->
                    <div class="small font-italic text-muted mb-4">PNG o JPG no mayor de 5 MB</div>
                    <label class="btn btn-primary">Cambiar foto<input
						name="image" type="file" class="uploadFile img"
						value="Upload Photo"
						style="width: 0px;height: 0px;overflow: hidden;"
						accept="image/*">
					</label>
					
                </div>
            </div>
			</form>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
			{{#usersdata}}
            <div class="card mb-4">
                <div class="card-header">Detalles de la cuenta</div>
                <div class="card-body">
                    <form action="/modifyUser" method="POST" enctype="multipart/form-data">
                        
						<!-- Form Group (username)-->
                        
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Usuario</label>
                                <input class="form-control" name="username" type="text" placeholder={{username}} value="">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Nombre completo</label>
                                <input class="form-control" name="completename" type="text" placeholder={{completname}} value="">
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Dirección</label>
                                <input class="form-control" name="address" type="text" placeholder={{address}} value="">
                            </div>
							<!-- Form Group (calle)-->
                            
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Correo electrónico</label>
                            <input class="form-control" name="email" type="email" placeholder={{email}} value="name@example.com">
                        </div>
                        <!-- Form Row-->
                        <!-- Save changes button-->
						<li><button type="submit">Guardar cambios</button><input type="hidden"
							name="_csrf" value="{{token}}" /></li>
						<li><button type="reset">Cancelar</button></li>

                    </form>
                </div>
            </div>
			{{/usersdata}}
        </div>
    </div>
</div>

<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="col-md-3 footer-left">
			<h2><a href="/index"><img src="images/logo.jpg" alt=" " /></a></h2>
			<p>Nuestra tienda se compromete a traer siempre lo más nuevo en tecnología a precios excelentes y
				con seguridad y garantía de que el producto llega a salvo a su casa.</p>
		</div>
		<div class="col-md-9 footer-right">
			
			<div class="clearfix"></div>
			<div class="sign-grds">
				<div class="col-md-4 sign-gd">
					<h4>Información</h4>
					<ul>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="componentes.html">Componentes</a></li>
						<li><a href="perifericos.html">Periféricos</a></li>
						<li><a href="electronics.html">Teléfonos</a></li>
						<li><a href="contact.html">Contactos</a></li>
					</ul>
				</div>

				<div class="col-md-4 sign-gd-two">
					<h4>Infomación de la tienda</h4>
					<ul>
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Dirección: Avenida
							de Carlos, s/n <span>Madrid</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email : <a
								href="mailto:info@example.com">info@w&t.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Phone : +1234 567 567
						</li>
					</ul>
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
		<p class="copy-right">&copy 2022 W&T. Todos los derechos reservdos | Design by <a href="http://urjc.es/"
				target="_blank">Alumnos de la URJC</a></p>
	</div>
</div>
<!-- //footer -->









</body>
</html>
